<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Parent</th>
      <th>Number of Products</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, categories_products_path(category.id) %></td>
        <td><%= get_category_parent(category) %></td>
        <td><%= category.products_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
