<p id="notice"><%= notice %></p>

<% if @current_user.line_items.exists? %>
  <h3>Line Items till today</h3>
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th> Order date</th>
      </tr>
    </thead>

    <tbody>
      <% @line_items.each do |line_item| %>
        <tr>
          <td><%= line_item.product.title %></td>
          <td><%= line_item.updated_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h3>No Line Items Present</h3>
<% end %>
<%= link_to 'Back', users_path %>
